.container{
    max-width:1000px;
}

.card-container {
    margin-top: 70px;
}

.border {
    border-color: #d9d9d9 !important; /* Light gray border */
}

.shadow-sm {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Custom shadow */
}



/* Center align the text */
h1, p {
    text-align: center;
}




.form-control {
    background-color: #3b3b3b14;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
}

    .form-control::placeholder {
        color: rgb(64 66 67 / 47%);
    }


.form-check-input {
    background-color: #3b3b3b14;
}


a{
    color:black;
}


.sign-in-with-google {
    margin-left: 13%;
    background-color: #3b3b3b14;
    border: none;
    font-weight: 600;
}

.forget-password{
    color:blue;
}


.login-btn {
    background-color: #e53935;
    color:white;
}

.login-btn:hover{
    color:white;
}

